# LangChain core (1.x ecosystem)
langchain>=1.2.8
langchain-core>=1.2.8

# Groq
langchain-groq
groq

# Community integrations (keep unpinned)
langchain-community

# Embeddings / Docs
sentence-transformers
pypdf

# Vector DB
pinecone
langchain-pinecone

# App / Utils
streamlit
python-dotenv
ipykernel